<div class="assets-upload">
    <div class="row">
        <div class="col-sm-6">

            <form name="myForm" novalidate>


                <div ng-show="ownername==''">
                    <div class="form-group">
                        <label>Certificate Issuer:</label>
                        <p>The "Certificate Issuer Name" helps to identify the real institution- for example a WebDomain or your real world name. It is uploaded to the Blockchain and public.</p>
                        <input class="form-control" id="owner-name" type="text" ng-required="ownername==''" ng-model="upload_asset.name"/>
                    </div>
                </div>

                <div ng-show="ownername!=''">
                    <p><strong>Certificate Issuer: {{ownername}}</strong></p>
                </div>


                <div class="form-group">
                    <label>Certificate:</label>
                    <p>The Certificate that was issued by you (to calculate the Hash). Can be anything: PDF, JPG, Word</p>
                    <input type="file" class="form-control" ngf-select ng-model="picFile" name="file" ngf-max-size="2MB"
                           required ngf-model-invalid="errorFile">
                    <img ng-show="myForm.file.$valid && picFile.type=='image/jpeg'" ngf-thumbnail="picFile"
                         class="thumb">
                    <a ng-click="picFile = null" ng-show="picFile">Remove File</a>
                </div>

                <div class="form-group">
                    <label for="additional-message">Additional Message or Type of Certificate (optional): </label>
                    <p>Uploaded to the Blockchain and public.</p>
                    <textarea name="additional-message" class="form-control" id="additional-message" rows="1" ng-model="upload_asset.message"> </textarea>
                </div>

                <div class="form-group">
                    <button ng-disabled="!myForm.$valid || !hasOwner()" ng-click="uploadPic(picFile)"
                            class="btn btn-default">
                        Push Certificate Hash to the Blockchain!
                    </button>
                </div>

                <p><strong>Note:</strong></p>
                <p>It can take over 60 seconds to upload the data on the Blockchain to this Smart-Contract: &nbsp;<strong><a href="{{$root.ETHERSCAN}}address/{{upload_asset.address}}">0x{{upload_asset.address}}</a></strong></p>


            </form>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>The Hash</h3>
                    <p>The <strong>Hash</strong> is a number calculated from the document you want to certify. If the document is modified (e.g. just a single bit is changed) the Hash will be different. Therefore the Hash is unique for your document.</p>
                    <p>Only this Hash will be uploaded, your file will <strong>NEVER</strong> leave your PC. (IT people can check the javascript of this page).</p>
                    <h3>Upload to the Blockchain</h3>
                    <p>When pressing the Button, your Public Address, the Hash and all other information is uploaded to the Blockchain. </p>
                    <p>Your data is actually sent to a <a href="{{$root.ETHERSCAN}}{{upload_asset.address}}">Smart Contract</a> .The Smart Contracts runs all the logic to validate your Public Address and to check the Hash.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="assets-upload-info">
    <div class="row">
    
        <div class="col-sm-6">
            <div ng-if="status>0">
                <h3>Uploading Status</h3>                                                       
                <div class="panel_green ">
                    <div class="panel-body">
                        <h4>{{timer_count}} seconds</h4>
                        <p><strong>{{status_text}}</strong></p>
                        <div ng-show="status===4">
                                <table>
                                    <tr ng-repeat="hash in hashes">
                                        <td>{{ hash.description}}</td>
                                        <td>{{ hash.create_date }}</td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-if="status<0">
                <h3>Uploading Status</h3>
                <div class="panel_red ">
                    <div class="panel-body">
                        <h4>ERROR</h4>
                        <p><strong>{{status_text}}</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div ng-if="status===4">
                <div class="panel panel-default">                                                                                           
                    <div class="panel-body">
                        <h3>It's now on the Blockchain.</h3>
                        <p><strong>Your data is stored in a "Smart Contract". You can check the transaction in the Etherscan - Blockchain explorer:</strong></p>
                        <p><a href="{{$root.ETHERSCAN}}tx/{{poll_transaction}}">{{poll_transaction}}</a></p>
                        <p>Everybody can READ from this smart contract and has access to the Hashes that are stored there.</p>
                        <p>Because only you (the Certificate Owner) can write data to the Blockchain with your Public Address - the Hash of the documents must have been uploaded by him.</p>
                        <h3>Do it again</h3>
                        <p>You can do it for all certificate you are issuing, just upload another file and maybe update the message text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>