<div class="modal-header">
    <h3 class="modal-title">Greetings, dear customer.</h3>
</div>

<div class="modal-body">
    <form name="form" ng-submit="enter(form)">
        <div> We would love to be in touch with you.
            Please, sign up with your email.</div>
        <br>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="email" required>
        </div>
        <div class="text-right">
            <button class="btn btn-default" type="submit">Enter</button>
        </div>
    </form>
</div>