<div class="intro">
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" width="318" height="314" sizes="(max-width: 1920px) 100vw, 1920px" src="/certificate.jpg">
        </div>
        <div class="col-sm-10">


            <h3>A Real Blockchain Demo: "How to simply validate a University Diploma?"</h3>

            <p>You will write and read from a Smart Contract on the Ethereum Blockchain Network. You can validate your transactions using the <a href="https://rinkeby.etherscan.io/"> Etherscan Block Explorer</a>. The Application has THREE steps, you can scroll down to continue after each step is completed.</p>


            <p> This Application allows to prove that digital assets have been issued by a certified institution, examples are:</p>
            <ul style="list-style-type:disc; padding-left: 30px;">
                <li>PDF file of a University Degree</li>
                <li>JPG of a Qualification Certificate</li>
                <li>MP3 Recording of a Speech</li>
            </ul>

            <h4>University - Certificate Issuer</h4>
            <p>A University (or any other institution) is sending graduation certificates as PDF documents to their students. At the same time the University uploads the HASH of this document to the Blockhain.</p>
            <p>A HASH is a long number that can be calculated from any file (pdf, jpg, mp3). When the file is changed at any place (even just a single bit) that Hash will change. The Hash number is so big, that each different file in the universe will have a different Hash. </p>
            <h4>Hiring Company - Certificate Validator</h4>
            <p>A hiring company is receiving a PDF certificate from a job candidate. The company can now calculate the HASH of this PDF and check it against the Hash in the Blockchain. If Hashes are identical the company can be sure that the certificate was issued by the University and was not altered or manipulated.</p>
            <p>By mathematics, it is never possible to reconstruct the original document from the Hash and this appication never uploads the document, but only the Hash. Both the University and the student can be sure that the certificate itself will never be visible to the public.</p>

            <div class="alert alert-danger">
            <p>By executing this application you confirm to understand the following:</p>
            <ul style="list-style-type:disc; padding-left: 30px;">
                <li>This Appliction is running on the Ethereum Rinkeby <strong>Testnetwork</strong> for demonstration purpose only. It comes without any liability!!</li>
                <li>Most of the program has been developed by <a href="http://www.instinctools.ru/">instinctools</a>. Thank you for the help of this cool and knowledgabe company!</li>
                <li>Ether Gas is paid by a Gas-Server. Only a limited amount of transactions is possible. Please use the upload only for 2-3 files.</li>
            </ul>
            </div>
            <p></p>
            <p></p>
            <p></p>
            <h3></h3>
        </div>
    </div>
</div>