<div class="wallet-component">
    <div class="row">
        <div ng-if="checkWallet()===false">

            <div class="col-sm-6">
                <form name="form" ng-submit="form.$valid && createWallet(form)" novalidate>
                    <div class="form-group">
                        <label>Protect your Wallet with a password:</label>
                        <div ng-show="(form.$submitted || form.password.$touched) && (form.password.$error.required)"
                             class="alert alert-danger">
                            Please enter your password
                        </div>
                        <input type="password" name="password" value="" class="form-control" id="profile-password"
                               ng-model="password" required>
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <div ng-show="(form.$submitted || form.password_confirm.$touched) && (form.password_confirm.$error.required)"
                             class="alert alert-danger">
                            Please confirm your password
                        </div>
                        <div ng-show="(form.$submitted || form.password_confirm.$touched) && !form.password_confirm.$error.required && !form.password_confirm.$valid"
                             class="alert alert-danger">
                            Passwords do not match
                        </div>
                        <input type="password" name="password_confirm" value="" class="form-control"
                               id="profile-password-confirm" ng-model="password_confirm" required compare-to="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Create Wallet</button>
                        <button type="button" class="btn btn-warning" ng-click="restoreWallet()">Restore Wallet</button>
                    </div>
                </form>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default">

                        <div class="panel-body">
                            <p>The javascript in your browser will generate a "Wallet" that contains a Public / Private Key-Pair.</p>
                            <ol>
                                <li>The <strong>Public-Key</strong> is your ADDRESS on the Blockchain.</li>
                                <li>The <strong>Private-Key</strong> is secured in your Wallet and protected by the password. Only with this Private-Key you can run a transaction on the Blockchain.</li>
                            </ol>

                            <p>For simplification the Wallet is stored in your Browser Cache as Cookie. So the Wallet will be available, when you revisit this page later. </p>

                        </div>
                </div>
            </div>
        </div>
        <div ng-if="checkWallet()===true">
            <div class="col-sm-6">
                <h3>You have already created a Wallet.</h3>

                <p>You wallet is saved in the Browser Cache as a Cookie. Its protected with a password!</p>
                <p>You can restore your existing wallet to continue using your "old" public address. If you create a new wallet, your old wallet will be finally destroyed. You will not able to proof anymore that you own the "old" public address.</p>
                <p>
                    <button type="button" class="btn btn-default" ng-click="restoreWalletFromLocalStorage()">Restore my Wallet</button>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="deleteWallet()">Finally delete my Wallet!!</button>
                </p>
            </div>

            <div class="col-sm-6">
               <div class="panel panel-default">
                   <div class="panel-body">
                    <h3>The Wallet keeps your secret!</h3>
                       <p>Your already have created a "Wallet" on this Browser.</p>
                    <p>Its like a real wallet, it stores your private keys. It is stored encrypted in your browsers cache. </p>
                    <p>You have now two options:</p>
                    <ol>
                        <li>Create a new wallet - be carefully, this will delete your old wallet and you may not be able to prove your ownership of your previous upload </li>
                        <li>Restore your old wallet, you will be able to prove ownership off the documents uploaded previously </li>
                    </ol>
                     <p>In real live you would store your Private-Keys and your Wallet at a really save place. Only with the private-key you will be able to upload certificate hashes for this public address.</p>
            </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="accountAddress">
    <div class="row">
        <div class="col-sm-6">

            <div id="result">
                <p>Public Address::</p>
                <p><strong><a href="{{$root.ETHERSCAN}}address/{{accountAddress}}">0x{{accountAddress}}</strong></a>
                <p>If you ever need to restore your wallet, keep this *secret* words to re-generate your wallet:</p>
                <p><strong>{{seed}}</strong></p>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="printResult('result')" ng-disabled="!accountAddress">Print
                        secret words for backup
                    </button>
                </div>
            </div>
            <div ng-if="upload_asset.name!=''">
                <div class="panel_green">
                    <p>Checking on the Blockchain with your Public-Address, you already have uploaded data for this Certifier:</p>
                    <p><strong>{{upload_asset.name}}</strong></p>
                    <p>Created on: {{upload_asset.upload_date}} </p>
                    <p>Hashes:</p>

                    <table>
                        <tr ng-repeat="hash in hashes">
                            <td>{{ hash.description}}</td>
                            <td>{{ hash.create_date }}</td>
                        </tr>
                    </table>


                </div>
            </div>


        </div>
        <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-body">
                         <h3>Identity Created!</h3>
                        <p>This number is the <strong>Public Address </strong>of the Certifier.</p>
                        <p>The Certificate Issuer can publish the Public-Key on its Webpage. So everybody can check who is the real person behind the address.</p>
                        <p>It is not 100% correct, but fair to say that the Public-Key of your wallet is the same as you Public Address.</p>
                        <h3>Protected by your Wallet!</h3>
                        <p>Any action with your Public Address is protected by the Private-Key, that is securely saved in your Wallet.</p>
                        <p><strong>In other words: Everything that happens on the Blockchain with your Address can only be done by the person who knows your private key - THAT IS YOU!</strong></p>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>